@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --neon: #91e440;
  --gray: #a5a7a366;
}
* {
  font-family:
    Space Grotesk,
    sans-serif;
}

body {
  margin: 0;
  font-family:
    Space Grotesk,
    sans-serif;
  background-image:
    linear-gradient(rgba(65, 65, 65, 0.85), rgba(65, 65, 65, 0.85)),
    url('../public/images/headeset1.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

/* header on Laptops */
.header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../public/images/headeset1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  color: var(--neon);
  padding-left: 32px;
  height: 100px;
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0px;
}

.header button {
  background-color: var(--neon);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 108px;
}

.search {
  width: fit-content;
  background: var(--gray);
  padding: 0px 12px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.search input {
  width: 400px;
  height: 44px;
  font-size: 16px;
  background: none;
  border: none;
  color: white;
  font-family:
    Space Grotesk,
    sans-serif;
}
.header input:focus {
  outline: none;
  border: none;
}
.IoSearch {
  width: 24px;
  height: 24px;
}

/* filter section */

.filter {
  display: flex;
  background: black;
  margin: 32px;
  color: var(--neon);
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-radius: 12px;
}
.dropdownfilter {
  font-size: 24px;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 180px;
  height: auto;
}

.dropdown button {
  width: 120px;
  height: 32px;
  background-color: #848383;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #848383;
  border: 1px solid #848383;
  margin-top: 2px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filterIcon {
  width: 32px;
  height: auto;
}
.amount {
  font-size: 18px;
  color: gray;
}
