@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --neon: #91e440;
  --gray: #a5a7a366;
}
* {
  font-family:
    Space Grotesk,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Space Grotesk,
    sans-serif;
  /* background-image:
    linear-gradient(rgba(65, 65, 65, 0.85), rgba(65, 65, 65, 0.85)),
    url('../public/images/headeset1.jpg'); */
  background-size: cover;
  background-position: center;
  /* padding-top: 100px; */
}

/* header on Laptops */
.header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../public/images/headeset1.jpg');
  background-size: cover;
  background-position: center;
  z-index: 10;
  height: fit-contents;
  position: fixed;
  width: 100vw;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  align-items: center;
}

.header-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--neon);
}

.header-2 button {
  background-color: var(--neon);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 108px;
}

.search,
.search2 {
  width: 40%;
  max-width: 400px;
  background: var(--gray);
  padding: 0px 12px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.search2 {
  /* border: 1px solid white; */
  display: none;
}

.search input,
.search2 input {
  width: 100%;
  max-width: 400px;
  height: 44px;
  font-size: 16px;
  background: none;
  border: none;
  color: white;
  font-family:
    Space Grotesk,
    sans-serif;
}
.header-2 input:focus,
.serach-2:focus {
  outline: none;
  border: none;
}
.IoSearch {
  width: 24px;
  height: 24px;
}

/* filter section */

.filter {
  display: flex;
  background: black;
  margin: 32px;
  color: var(--neon);
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-radius: 12px;
}
.dropdownfilter {
  font-size: 24px;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 180px;
  height: auto;
}

.dropdown button {
  width: 120px;
  height: 32px;
  background-color: #848383;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #848383;
  border: 1px solid #848383;
  margin-top: 2px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filterIcon {
  width: 32px;
  height: auto;
}
.amount {
  font-size: 18px;
  color: gray;
}

.login-container,
.Signup-container {
  display: flex;
  border: 1px solid black;
  height: 100dvh;
}

.Signup-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.19)),
    url('../public/images/headeset2.png');
  background-size: cover;
  background-position: center;
  width: 50%;
}

.login-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.334), rgba(0, 0, 0, 0.019)),
    url('../public/images/headeset1.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
}
.login,
.Signup {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.log-description,
.Sign-description {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 4px;
}
.log-description > p,
.Sign-description > p {
  text-align: center;
  height: fit-content;
  font-size: 16px;
  color: #848383;
}
.login-form,
.Signup-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 12px;
}
.login-form h3,
.Signup-form h3 {
  font-size: 20px;
}
.login form,
.Signup form {
  width: 100%;
  min-width: 332px;
}

.login label,
.login input,
.Signup label,
.Signup input {
  width: 100%;
}

.login form,
.Signup form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login input,
.Signup input {
  height: fit-content;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.429);
}

.login label,
.Signup label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login label > p,
.Signup label > p {
  font-size: 16px;
}

.login button,
.Signup button {
  height: 48px;
  font-size: 16px;
  background: black;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.login-form > p,
.Signup-form > p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.login-form p > h4:hover,
.Signup-form p > h4:hover {
  text-decoration: underline;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-2 .search {
    width: 30%;
  }
  .header-2 input {
    font-size: 80%;
  }
  .IoSearch {
    width: 10%;
  }
  .header-2 h1 {
    font-size: 24px;
  }
  .header-2 button {
    font-size: 16px;
    margin-right: 10%;
  }
  /* filter section */
  .filter {
    margin: 0px 10px;
    margin-top: 0px;
    margin-bottom: 32px;
    padding: 10px 18px;
  }
  .login-container,
  .Signup-container {
    flex-direction: column;
    width: 100%;
  }
  .login-form,
  .Signup-form {
    width: 70%;
  }
  .login-img,
  .Signup-img {
    width: 100%;
    height: 40%;
  }
  .login,
  .Signup {
    width: 100%;
    padding-top: 30px;
  }
  .login label,
  .login input,
  .Signup label,
  .Signup input {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .header-2 .search {
    display: none;
  }
  .header {
    padding: 16px;
  }
  .header-2 button {
    font-size: 16px;
    margin-right: 5%;
  }

  .search2 {
    display: block;
    width: 80%;
    margin-right: 30px;
    margin-top: 6px;
    display: flex;
    height: 36px;
  }
  .search2 input {
    font-size: 80%;
  }
  .search2 input:focus {
    outline: none;
  }
  .search2 .IoSearch {
    color: var(--neon);
    width: 32px;
  }

  /* filter section */
  .filter {
    margin: 0px 10px;
    margin-top: 64px;
    padding: 10px 18px;
    margin-bottom: 20px;
  }
  .dropdownfilter {
    font-size: 1em;
  }
  .amount {
    font-size: 12px;
  }
  .log-description > h1,
  .Sign-description > h1 {
    font-size: 28px;
  }
  .log-description > p,
  .Sign-description > p {
    font-size: 14px;
  }

  .login-form > h3,
  .Signup-form > h3 {
    font-size: 18px;
  }

  .login-form label > p,
  .Signup-form label > p {
    font-size: 14px;
  }
  .login-form,
  .Signup-form {
    width: 80%;
  }
  .login-form > p,
  .Signup-form > p {
    display: flex;
    gap: 6px;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .header-2 button {
    font-size: 12px;
    margin-right: 8%;
  }
  .login-form,
  .Signup-form {
    width: 80%;
  }
  .login-form > p,
  .Signup-form > p {
    display: flex;
    gap: 6px;
    width: 100%;
  }
} /* will use 500 for cards */
